<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>VISITAS A LA PÁGINA: {{visitas}}</h1>
    <h2>REINICIOS DE VISITAS: {{resets}}</h2>
    <a href="/suma2"><button>+2</button></a>
    <a href="/reset"><button>reset</button></a>
    <hr>
    <form action="/suma" method="post">
        <input type="number" name="cantidad" id="">
        <input type="submit" value="Sumar">
    </form>
</body>

</html>