* {
    margin: 0px;
    padding: 0px;
}

.card {
    background-color: white;
    margin: 10px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    box-shadow: 2px 2px 4px 2px lightgray;
}

.card-header > h3 {
    text-align: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.connection-request {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.connection-request > div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.connection-request .profile-pic {
    height: 24px;
    width: 24px;
    background-color: white;
    border: 2px solid dodgerblue;
    border-radius: 8px;
}

.connection-request .icon {
    height: 24px;
}
